a {
    font-size: 16px;
    color: #3D3A3A;
    font-weight: 600;
    transition: 0.2s; 
}

a:hover {
    font-size: 16px;
    color: #666262;
    font-weight: 700;
}

form .btn {
    background-color: #c5c7cc;
    border-color: #c5c7cc;
    font-weight: 600;
    transition: 0.2s;
}

form .btn:hover {
    color: #666262;
    font-weight: 600;
}